acres==0.5.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.11.0
apeye==1.4.1
apeye-core==1.1.5
attrs==25.4.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.14.3
blinker==1.9.0
build==1.2.2.post1
cachetools==6.2.0
camelot-py==2.0.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
chromadb==1.0.15
ci-info==0.3.0
click==8.3.0
colorama==0.4.6
coloredlogs==15.0.1
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
dataclasses-json==0.6.7
deprecation==2.1.0
distro==1.9.0
domdf_python_tools==3.10.0
durationpy==0.10
et_xmlfile==2.0.0
etelemetry==0.3.1
faiss-cpu==1.13.2
filelock==3.18.0
filetype==1.2.0
flatbuffers==25.2.10
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.7.0
google-api-core==2.26.0
google-api-python-client==2.185.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-genai==1.25.0
google-generativeai==0.5.4
googleapis-common-protos==1.70.0
greenlet==3.2.4
groq==0.32.0
grpcio==1.75.1
grpcio-status==1.75.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.2
huggingface-hub==0.33.4
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
Jinja2==3.1.6
jiter==0.11.0
joblib==1.5.1
jpype1==1.6.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
kubernetes==33.1.0
langchain==1.2.17
langchain-classic==1.0.0
langchain-community==0.3.31
langchain-core==1.3.2
langchain-google-genai==2.1.12
langchain-groq==1.1.2
langchain-huggingface==1.0.0
langchain-openai==1.2.1
langchain-protocol==0.0.15
langchain-text-splitters==1.1.2
langchain-xai==1.2.2
langgraph==1.1.10
langgraph-checkpoint==3.0.0
langgraph-prebuilt==1.0.13
langgraph-sdk==0.3.13
langsmith==0.4.34
looseversion==1.3.0
lxml==6.0.0
markdown-it-py==3.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.9
mdurl==0.1.2
mmh3==5.1.0
mpmath==1.3.0
multidict==6.7.0
mypy_extensions==1.1.0
narwhals==2.7.0
natsort==8.4.0
networkx==3.5
nibabel==5.3.2
nipype==1.10.0
numpy==2.3.3
oauthlib==3.3.1
onnxruntime==1.22.1
openai==2.34.0
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
opentelemetry-api==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
oracledb==4.0.0
orjson==3.11.8
ormsgpack==1.11.0
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pathlib==1.0.1
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==11.3.0
platformdirs==4.9.4
playa-pdf==1.1.0
postgrest==2.24.0
posthog==5.4.0
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.32.1
prov==2.1.1
psycopg2==2.9.11
psycopg2-binary==2.9.11
puremagic==1.30
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.1
pycparser==2.23
pydantic==2.12.0
pydantic-settings==2.11.0
pydantic_core==2.41.1
pydeck==0.9.1
pydot==4.0.1
Pygments==2.19.2
PyJWT==2.10.1
PyMuPDF==1.27.2.3
pymupdf-layout==1.27.2.3
pymupdf4llm==1.27.2.3
pynput==1.8.1
pyparsing==3.2.3
pypdf==6.1.1
pypdfium2==5.8.0
pypi-json==0.5.0.post1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
pytz==2025.2
pywin32==312
pyxnat==1.6.3
PyYAML==6.0.3
rdflib==7.1.4
realtime==2.24.0
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.27.1
rsa==4.9.1
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.16.0
sentence-transformers==5.0.0
setuptools==80.9.0
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.43
storage3==2.24.0
streamlit==1.50.0
StrEnum==0.4.15
supabase==2.24.0
supabase-auth==2.24.0
supabase-functions==2.24.0
sympy==1.14.0
tabula-py==2.10.0
tabulate==0.10.0
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.21.2
toml==0.10.2
torch==2.7.1
tornado==6.5.2
tqdm==4.67.1
traits==7.0.2
transformers==4.53.2
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
uuid_utils==0.14.1
uvicorn==0.35.0
watchdog==6.0.0
watchfiles==1.1.0
websocket-client==1.8.0
websockets==15.0.1
xai==0.3.0
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
